<script>
document.addEventListener("DOMContentLoaded",function(){
	<%= @current_owner && @current_owner.checkedIn? ? "handleCheckout();" : "handleCheckin();" %>
});

function handleCheckin(){
	$("#checkin_with_cam").click(function(){
		$.ajax({
		  url: "/checkin",
		  method: "GET"
		}).done(function() {
		  $("#checkin_with_cam").html( "Check Out" ).off('click');
		  handleCheckout();
		  $("#dog_pound").prepend(`<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 boots_index temp_load">
				<img src= "<%= @current_owner.avatar.url %>" onerror="this.src='/assets/profile_pic.jpg';" width ="70px"/><br> <%= @current_owner.dog_name%><br>
				checked in <%= time_ago_in_words(@current_owner.last_checkin||Time.now)%> ago </div>`);
		});
	});
}
function handleCheckout(){
	console.log("handleCHeckout")
	$("#checkin_with_cam").click(function(){
		$.ajax({
		  url: "/checkout",
		  method: "GET"
		}).done(function() {
		  $("#checkin_with_cam").html( "Check In" ).off('click');
		  handleCheckin();
		  $(".temp_load").remove();
		});
	});
}
</script>

<div class="owners_index">
	<br>
	<br>
	<div id="check_border">
			<h6 id="check_in_title"> Let other dog owners know you're at the park </h6>
		<button id="checkin_with_cam">Check <%= @current_owner && @current_owner.checkedIn? ? "Out" : "In" %></button>
	</div>
	<br>
	<br>
	<fieldset id="checkin_fieldset">
		<legend id="checkin_legend">Current Dog Park Visitors</legend>
	<div class="container-fluid checked_in_owners">
		<div id="dog_pound" class="row">
		<% @owners.each do |owner| %>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 boots_index<%= " temp_load" if @current_owner == owner %>">
				<img src= "<%= owner.avatar.url %>" onerror="this.src='/assets/profile_pic.jpg';" height ="85px"/><br> <%= owner.dog_name%><br>
				checked in <%= time_ago_in_words(owner.last_checkin)%> ago </div>
		<% end if @owners %>
		</div>
	</div>
	</fieldset>
<br>
</div>

