<div class="owners_index">
		<h3 id="current_visitors"> Current Dog Park Visitors </h3>
		<ul id="all_owners">
		<% @owners.each do |owner| %>
			<ul id="owners_list"><img src="<%= owner.profile_pic %>" onerror="this.src='/assets/profile_pic.jpg';" width ="70px"/><br> <%= owner.dog_name%><br>
			checked in <%= time_ago_in_words(owner.last_checkin)%> ago </ul>
		<% end if @owners %>
		

		</ul>
		
		<div id="check_border">
			<h3 id="check_in_title"> Checking in? </h3>
			<%= form_for Owner.new do |f| %>
				<%= f.label "I'm at the dog park", class: 'form-check-label' %>
				<%= f.check_box :last_checkin, class: 'form-check-input', value: 'last_checkin' %>
			<% end %>
		</div>
</div>
