 <br>
 <br>
 <br>
 <h1 class="always_title"> Bark Buddies </h1>
 <br>
<div id="account_wrapper">
<br>
<h1 id="create_acc"> Create An Account </h1>
<div class="new_owner_form">
	<%= form_for @owner, html: {multipart: true} do |f| %>
	<fieldset id="create_fieldset">
		<legend id="acc_legend"> Enter Account Details: </legend>

			<div class="field">
				<%= f.label "Username:" %>
				<%= f.text_field :username, size: 20, autocomplete: "off" %>		
			</div>


			<div class="field">
				<%= f.label "Email:" %>
				<%= f.text_field :email, autocomplete: "off" %>
			</div>


			<div class="field">
				<%= f.label "Dog" + " " + "Name:" %>
				<%= f.text_field :dog_name, autocomplete: "off" %>
			</div>

			<div class="field">
				<%= f.label "Profile Picture:" + "   " %> 
				<%= f.file_field :avatar %>
			</div>


			<div class="field">
				<%= f.label "Password:" %>
				<%= f.password_field :password, autocomplete: "off" %>
			</div>


			<div class="field">
				<%= f.label :password_confirmation, "Confirm:" %>
				<%= f.password_field :password_confirmation, autocomplete: "off" %>
			</div>


			<div class="actions" class="submit_newAcc">
				<div id="sub"><%= f.submit "Create Account", class: "btn_style" %></div>
			</div>

		</fieldset>
	<% end %>
</div>
</div>
