<div class="acc_info">
<br>
<br>
<br>
	<fieldset id="owner_show_fieldset">
		<legend id="owner_show_legend"> <%=@current_owner.username.titleize + "'s" + " " + "Account Information" %> </legend>
			<div id="avatar_show">
				<%= image_tag @current_owner.avatar.url, class: "avatar_image" %>
			</div>
			<div class="show_text">
				 Username: <%= @current_owner.username %>
			</div>
			<div class="show_text">
				 Pup's name: <%= @current_owner.dog_name %> 
			</div>
			<div class="show_text">
				 Contact information: <%= @current_owner.contact %> 
			</div>
			<div id="edit_account_button" >
				<%= button_to "Edit Account Information", owners_edit_path, class: "btn_style", method: :get %>
			</div>
	</fieldset>

	<div id ="error_message"><%= flash[:alert] if flash[:alert] %></div>

</div>




