<br>
<br>
<br>
<div class="acc_info">
<br>
 <h1 class="always_title"> Bark Buddies </h1>
<br>
<br>
<br>
	<fieldset id="owner_show_fieldset">
		<legend id="owner_show_legend"> <%=@current_owner.username.titleize + "'s" + " " + "Account Information" %> </legend>
			<div id="avatar_show">
				<%= image_tag @current_owner.avatar.url, class: "avatar_image" %>
			</div>
			<div class="show_text">
				 The Owner: <%= @current_owner.username %>
			</div>
			<div class="show_text">
				 The pup: <%= @current_owner.dog_name %> 
			</div>
			<div class="show_text">
				 Contact information: <%= @current_owner.email %> 
			</div>
	</fieldset>
	<br>
	<br>
	<br>
	

</div>




