<!DOCTYPE html>
<html>
  <head>
    <title> Bark Buddies </title>
    <%= csrf_meta_tags %>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <!-- Bootstap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body id="body_style">
   <div id="navwrap">
    <% if session[:owner_id] != nil %>
    <nav id="navbar-main">
        <%= form_tag(owners_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search visitors...", class: "search-input" %>
          <%= submit_tag "Search", :name => nil, class: "search-btn" %>
        <ul class="nav navbar-nav pull-right" id="navlinks">
          <%= link_to "The Rules", the_rules_path, class: "linkers rule_link" %> &nbsp;
          <%= link_to "Current Visitors", owners_path, class: "linkers" %> &nbsp;
          <%= link_to "My Profile", owners_show_path(session[:owner_id]), class: "linkers" %> &nbsp;
          <%= link_to "Settings", owners_edit_path(session[:owner_id]), class: "linkers settings_link" %> &nbsp;
          <%= link_to "Sign Out", login_path, method: :delete, class: "linkers" %>

      <% end %>
        </ul>
    </nav>
    <% end %>
     </div>
    <%= yield %>
  </body>
</html>
